*{
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.box {
    width: 1000px;
    border: 2px solid black;
    padding: 15px;
    margin: 20px;
}

h2 {
    margin-top: 0;
}

ul {
    padding-left: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

}