*{
margin:0%;
padding:0%;
}
body{
font-family : 'Time New Roman', Times, serif;
color :blueviolet;
}
dinhdang{
    color :brown;
    text-align : center;
}
#hello1{
    color :red;
}
.dinhdang2{
    color :green;
    text-align : center;
}
ul>li{
    color : orange;
}
ul>li>a{
    color : purple;
}
.baitap{
    color : crimson;
    text-align : center;
}
.dinhdang3{
    background-color: yellow;
     text-align : center;
}
}