
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
background: #eaeaea url(https://wetrek.vn/pic/Service/images/nhung-ngon-nui-dep-nhat-viet-nam-7.jpg) no-repeat fixed center top;

}
.hd{
    background: blue;
    color: white;
    padding: 10px;
}
.menu{
    background: green;
    text-align: center;
}
.menu a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.main{
    width: 100%;
    overflow: hidden; /* fix float */
}
.m{
    width: 25%;
    float: left;
    background: yellow;
    padding: 10px;
}
.m h3{
    margin-bottom: 10px;
}
.item{
    background-color : rgb(255, 255, 255);
    margin: 48px 0;

}
.c{
    width: 75%;
    float: left;
    background: rgb(169, 123, 123);
    padding: 15px;
}
.card{

    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    width: 900px;
    border: 2px solid black;
    padding: 15px;
    margin: 20px;
}

.hot{
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 3px 6px;
}

.card button{
    margin-top: 10px;
}

